<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BizwebPartnerSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="BizwebPartnerSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="BizwebPartnerSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://www.bizweb.no/soap/bizwebpartner.asmx"
                binding="basicHttpBinding" bindingConfiguration="BizwebPartnerSoap"
                contract="ServiceReference1.BizwebPartnerSoap" name="BizwebPartnerSoap" />
            <endpoint address="https://www.bizweb.no/soap/bizwebpartner.asmx"
                binding="customBinding" bindingConfiguration="BizwebPartnerSoap12"
                contract="ServiceReference1.BizwebPartnerSoap" name="BizwebPartnerSoap12" />
        </client>
    </system.serviceModel>
</configuration>